<!--Handle Contact-->
                <div class="contact-column contact-left">
                    <div class="contact-head">
                        All Contacts
                        <i class="add-icon"></i>
                    </div>
                    <div class="contact-content">
                        <div class="contact-search">
                            <input type="text" class="contact-search-text" />
                            <input type="button"  class="contact-search-btn"/>
                        </div>
                        <div style="padding: 20px 0 0 0;" class="contact-search-result contact-not-friend">
                            <div class="setting-name">

                                <div style="float: left; width: 200px;">
                                    <label class="label-name">Your Name</label>
                                    <label class="label-domain">www.yourdomain.com</label>
                                </div>
                                <div class="contact-action">
                                    <i class="action-add">
                                    </i>
                                </div>


                            </div>
                        </div>	
                        <div style="padding: 20px 0 0 0;" class="contact-friend">
                            <div class="setting-name">

                                <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                                </div>
                                <div style="float: left; width: 200px;">
                                    <label class="label-name">Your Name</label>
                                    <label class="label-domain">www.yourdomain.com</label>
                                </div>
                                <div class="contact-action">
                                    <i class="action-add">
                                    </i>
                                    <i class="action-delete">
                                    </i>
                                </div>


                            </div>
                        </div>
                        <div style="padding: 20px 0 0 0;" class="contact-not-friend">
                            <div class="setting-name">

                                <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                                </div>
                                <div style="float: left; width: 200px;">
                                    <label class="label-name">Your Name</label>
                                    <label class="label-domain">www.yourdomain.com</label>
                                </div>
                                <div class="contact-action">
                                    <i class="action-add">
                                    </i>
                                    <i class="action-delete">
                                    </i>
                                </div>


                            </div>
                        </div>
                        <div style="padding: 20px 0 0 0;" class="contact-not-friend">
                            <div class="setting-name">

                                <div class="contact-avatar" style="background-image: url('app/_assets/images/sdf-songoku.jpg');">
                                </div>
                                <div style="float: left; width: 200px;">
                                    <label class="label-name">Your Name</label>
                                    <label class="label-domain">www.yourdomain.com</label>
                                </div>
                                <div class="contact-action">
                                    <i class="action-add">
                                    </i>
                                    <i class="action-delete">
                                    </i>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-column contact-right">
                    <div class="contact-head">
                        Group Contacts
                    </div>
                    <div class="contact-create-new-g">
                        <label style="font-weight: bold; font-size: 14px;">Create New Group</label>
                        <br>
                        <label style="font-weight: bold; font-size: 12px;">(Drop Contacts here)</label>
                    </div>
                    <div class="contact-group"> <!--contact-group-yellow,contact-group-orangecontact-group-blue,contact-group-Grey,contact-group-red -->
                        <div class="contact-g-head">
                            Group name ...	
                        </div>
                        <div class="contact-g-h-action">
                            <div class="action-set-background">
                                <i class="i-color i-color-yellow">
                                </i>
                                <i class="i-color i-color-orange">
                                </i>
                                <i class="i-color i-color-red">
                                </i>
                                <i class="i-color i-color-blue">
                                </i>
                                <i class="i-color i-color-Grey">
                                </i>
                            </div>
                            <i class="add-icon"></i>		
                            <i class="set-background"></i>		
                            <i class="delete-icon"></i>		
                        </div>
                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>


                        </div>

                    </div>
                    <div class="contact-group contact-group-yellow contact-group-common">
                        <div class="contact-g-head">
                            Group name ...	
                        </div>
                        <div class="contact-g-h-action">
                            <div class="action-set-background">
                                <i class="i-color i-color-yellow">
                                </i>
                                <i class="i-color i-color-orange">
                                </i>
                                <i class="i-color i-color-red">
                                </i>
                                <i class="i-color i-color-blue">
                                </i>
                                <i class="i-color i-color-Grey">
                                </i>
                            </div>
                            <i class="add-icon"></i>		
                            <i class="set-background"></i>		
                            <i class="delete-icon"></i>		
                        </div>

                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>

                        </div>
                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>


                        </div>	
                    </div>
                    <div class="contact-group contact-group-orange contact-group-common">
                        <div class="contact-g-head">
                            Group name ...	
                        </div>
                        <div class="contact-g-h-action">
                            <div class="action-set-background">
                                <i class="i-color i-color-yellow">
                                </i>
                                <i class="i-color i-color-orange">
                                </i>
                                <i class="i-color i-color-red">
                                </i>
                                <i class="i-color i-color-blue">
                                </i>
                                <i class="i-color i-color-Grey">
                                </i>
                            </div>
                            <i class="add-icon"></i>		
                            <i class="set-background"></i>		
                            <i class="delete-icon"></i>		
                        </div>
                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>

                        </div>
                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>


                        </div>	
                    </div>
                    <div class="contact-group contact-group-blue contact-group-common">
                        <div class="contact-g-head">
                            Group name ...	
                        </div>
                        <div class="contact-g-h-action">
                            <div class="action-set-background">
                                <i class="i-color i-color-yellow">
                                </i>
                                <i class="i-color i-color-orange">
                                </i>
                                <i class="i-color i-color-red">
                                </i>
                                <i class="i-color i-color-blue">
                                </i>
                                <i class="i-color i-color-Grey">
                                </i>
                            </div>
                            <i class="add-icon"></i>		
                            <i class="set-background"></i>		
                            <i class="delete-icon"></i>		
                        </div>
                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>


                        </div>
                        <div class="setting-name">

                            <div class="contact-avatar" style="background-image: url('app/_assets/images/songoku.jpg');">
                            </div>
                            <div style="float: left; width: 200px;">
                                <label class="label-name">Your Name</label>
                                <label class="label-domain">www.yourdomain.com</label>
                            </div>
                            <div class="contact-action">
                                <i class="action-delete">
                                </i>
                            </div>

                        </div>
                    </div>


                </div>