<!--
This is template layout for displaying listview content
-->
<ul style="display: block;" class="content-ul" id="current-content">
    <li class="user-online">
        <div class="user-avatar" style="background-image: url('../images/songoku.jpg');">

        </div>
        <div class="user-header">
            <label class="user-name">
                Pharetra Tristique Ultricies	
            </label>
            <div class="right">
                <div class="user-icon icon-delete">
                </div>
                <div class="separator"></div>

                <div id="ui-archives-shortcut" class="user-icon icon-archive">
                </div>
                <div class="separator"></div>
                <div id="ui-favorites-shortcut" class="user-icon icon-favorite-a">
                </div>
                <div class="separator"></div>
                <label class="user-date">
                    12 July 2012 - 11:20 PM
                </label>

            </div>
        </div>
        <div class="user-text">
            Try disabling network prediction by following these steps: Go to the wrench menu > Settings > Show advanced settings... and deselect "Predict network actions to improve page load performance." If this does not resolve the issue, we recommend selecting this option again for improved performance.
            Try disabling network prediction by following these steps: Go to the wrench menu > Settings > Show advanced settings... and deselect "Predict network actions to improve page load performance." If this does not resolve the issue, we recommend selecting this option again for improved performance.
        </div>
    </li>
    <li class="user-off">
        <div class="user-header">
            <div class="user-reply-icon" style="background-image: url('../images/reply-icon.png');">
            </div>
            <label class="user-name">
                Pharetra Tristique Ultricies	
            </label>
            <div class="right">
                <div class="user-icon icon-delete">
                </div>
                <div class="separator"></div>

                <div class="user-icon icon-archive-a">
                </div>
                <div class="separator"></div>
                <div class="user-icon icon-favorite">
                </div>
                <div class="separator"></div>
                <label class="user-date">
                    12 July 2012 - 11:20 PM
                </label>

            </div>
        </div>
        <div class="user-text">
            Try disabling network prediction by following these steps: Go to the wrench menu > Settings > Show advanced settings... and deselect "Predict network actions to improve page load performance." If this does not resolve the issue, we recommend selecting this option again for improved performance.
            Try disabling network prediction by following these steps: Go to the wrench menu > Settings > Show advanced settings... and deselect "Predict network actions to improve page load performance." If this does not resolve the issue, we recommend selecting this option again for improved performance.
        </div>
    </li>
</ul>

